li {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 14px;
    border: 2px solid #3D3938;
    background-color: #FFE96B;
    margin: 8px;
    width: 850px;
    min-height: 60px;
    height: auto;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 14px;
    .text-item {
        text-decoration: line-through;
        
    }
}

.container-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    overflow: hidden;
    margin: 4px 4px;
    padding: 4px 4px;
    margin-left: 6px;
    margin-right: 6px;
}

@media screen and (min-width: 375px) and (max-width: 1023px) {
    li{
        width: 100%;
    }
}
