li {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 14px;
    border: 2px solid #3D3938;
    background-color: #FFE96B;
    margin: 8px;
    min-width: 250px;
    width: 340px;
    height: 55px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 14px;
    .text-item {
        text-decoration: line-through;
        
    }
}
.container-text {
    display: inline-block;
    height: 40px;
    padding-top: 12px;
    width: 260px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 6px;
    margin-right: 6px;
}




