span {
    cursor: pointer;
}



li {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    border: 2px solid #3D3938;
    background-color: #FFE96B;
    margin: 8px;
    min-width: 340px;
    height: 55px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 6px;
    .text-item {
        text-decoration: line-through;
    }
}




