.box-ul {
    display: flex;
    justify-content: center;
    margin: 0;
    width: auto;
    height: auto;
    align-items: center;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: auto;
    margin: 32px 0px ;
    padding: 15px;
    border-radius: 12px;
}

li, p {
    display: flex;
    align-items: center;
}
