.container-ul {
    display: flex;
    justify-content: center;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 220px;
    margin: 32px 0px ;
    padding: 15px;
    border-radius: 12px;
}

@media screen and (min-width: 768px) and (max-width: 1024px)  {
    ul {
        width: 627px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 32px 0px ;
        padding: 15px;
        border-radius: 12px;
    }
}

@media  screen and (min-width: 1024px) {
    ul {
        width: 918px;
        display: flex;
        flex-direction: row;

        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 32px 0px ;
        padding: 15px;
        border-radius: 12px;
    }
}
