div {
   text-align: center; 
   margin-bottom: 15px;
   .search {
      background-color: whitesmoke;
      outline: none;
      border: 1px solid black;
      font-weight: bold;
      border-radius: 12px;
      height: 32px;
      width: 250px;
   }
}