span{
    cursor: pointer;
}
li {
    border: 1px solid grey;
    margin: 8px;
    width: 400px;
    height: 42px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 4px;
    .text-item {
        text-decoration: line-through;
    }
}




