button{
    text-align: center;
}

.create-todo-button {
    width: 38px;
    height: 55px;
    position: fixed;
    bottom: 20px;
    right: 30px;
    border: 2px solid #3D3938;
    border-radius: 5px;
    background-color: #FFE96B;
}

.create-todo-button:hover{
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
}   

.CreateTodoButtonZ {
    z-index: 1;
}


@media screen and  (max-width: 1023px) {
    .create-todo-button {
        width: 100%;
        height: 55px;
        position: fixed;
        bottom: 0px;
        right: 0px;
        left: 0px;
        margin-top: 10px;
        border: 2px solid #3D3938;
        border-radius: 5px;
        background-color: #FFE96B;
    }
}

