span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.Icon-check{
    display: inline-block;
    width: 32px;
    height: 32px;
}

.Icon-delete{
    display: inline-block;
    width: 32px;
    height: 32px;
}

.Icon-svg{
    width: 28px;
    height: 28px;
}

.Icon-check:hover .Icon-svg{
    fill: #2BE157;
}

.Icon-delete:hover .Icon-svg{
    fill: #FF5733;
}