.Icon{
    display: inline-block;
    width: 36px;
    height: 36px;
}

.Icon-check{
    display: inline-block;
    width: 32px;
    height: 32px;
    
}

.Icon-delete{
    display: inline-block;
    width: 32px;
    height: 32px;
}

.Icon-svg{
    width: 36px;
    height: 36px;
}

.Icon-check:hover .Icon-svg{
    fill: #2BE157;
}

.Icon-delete:hover .Icon-svg{
    fill: #FF5733;
}