.container-main {
    display: flex;
    justify-content: center;    
}

.container-title {
    
    width: 300px;
    height: 60px;
    margin: 42px 42px;
    background-color: #FFE96B;
    color: #5B5B5B;
    border: 2px solid #3D3938;
    border-radius: 12px;
    padding: 12px;
}


.container-title--text {
    color: #1F1F1F;
    text-align: center;
    font-size: 18px;  
    padding-top: 5px;
    font-weight: 600;
}

