.input-container {
   display: flex;
   justify-content: center;
   height: 40px;
   margin-top: 24px;
   margin-bottom: 0;
}

   
.search {
   margin-bottom: 15px;
   color: #505050 ;
   font-family: 'Ubuntu', sans-serif;
   font-weight: bold;
   background-color: whitesmoke;
   font-size: 15px;
   outline: none;
   border: none;
   border-radius: 8px;
   height: 32px;
   width: 250px;
   padding-left: 15px;
}
.search:focus {
   /* Estilo adicional cuando el input está enfocado */
   box-shadow: 0 0 10px rgba(247, 247, 247, 0.8); /* Aumentamos el resplandor cuando el input está enfocado */
   }
   .search::placeholder {
   color: grey;
   font-weight: 300;
   }
